h1{
  text-align: center;
  padding-top: 20px;

}

.box{
  width: 1300px;
  height: 1000px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,eeeeee+75 */
background: rgb(204,204,204); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(204,204,204,1) 0%, rgba(238,238,238,1) 75%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 75%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 */

}

img{
  width: 20%;
  margin-left:520px;
  margin-bottom: 20px;
}

p{
  padding-left: 30px;
  padding-right: 30px;

}

body{
  width: 970px;
  background-color: white;
}
